<!-- feed.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Logro Aleatorio</title>
</head>
<body>
    <center>
    <h1>Mis Logros</h1>
    {% if achievement %}
    
        <h2>{{ achievement.title }}</h2>
        <h3>{{ achievement.category }}</h3>
        <!-- Mostrar la imagen del logro -->
        {% if achievement.achievement_image %}
            <img src="{{ achievement.achievement_image.url }}" alt="Imagen del logro" style="max-width: 40%; height: auto;">
        {% endif %}
        <p>{{ achievement.description }}</p>
    </center>
    {% else %}
        <p>No hay logros disponibles.</p>
    {% endif %}
</body>
</html>